<h1 *ngIf="userGoingCounter != 0; else noOneItsIn">Hoppers in! {{userGoingCounter}}</h1>

<ng-template #noOneItsIn>
    <h2>No one it's in for the moment.</h2>
</ng-template>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">I'm in!</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users2; let i = index">
            <td *ngIf="user.goingToGo">{{i+1}}</td>
            <td *ngIf="user.goingToGo == false">-</td>
            <td>{{user.surname}}, {{user.name}}</td>
            <td *ngIf="user.goingToGo"><i class="fa-solid fa-check"></i></td>
            <td *ngIf="user.goingToGo == false"><i class="fa-solid fa-xmark"></i></td>
        </tr>
        <!-- <tr *ngFor="let user of users">
            <td>{{user.assistantNumber}}</td>
            <td>{{user.userName}}</td>
            <td *ngIf="user.goingToGo"><i class="fa-solid fa-check"></i></td>
            <td *ngIf="user.goingToGo == false"><i class="fa-solid fa-xmark"></i></td>
        </tr> -->
        <div class="">
            <button type="button" class="btn btn-outline-primary float-right" (click)="backButton()">Back</button>
        </div>
    </tbody>
</table>

<ng-template #noOneItsIn>
    <p>No one it's in.</p>
</ng-template>