<div class="col-10">
    <div class="row">
        <h2 class="pt-3 col-5">Who are you?</h2>
        <div class="center">
            <button type="button" class="btn btn-success float-right ml-3" (click)="logIn()">Log in</button>
            <button type="button" class="btn btn-info float-right" (click)="createNewUser()">I'm new!</button>
        </div>
    </div>
</div>
<div class="col-6">
    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
</div>
<ul *ngFor="let user of users" class="list-group col-6">
    <li class="list-group-item list-group-item-action" (click)="fillSelectedUserId(user.id)">{{user.username}}
    </li>
</ul>

<mat-toolbar></mat-toolbar>


<h2 class="pt-4">Are you in?</h2>
<button type="button" class="btn btn-success mr-3" (click)="imIn(this.selectedUserId)">I'm in!</button>
<button type="button" class="btn btn-danger ">Not this time</button>