<nav class="navbar navbar-light bg-light">
  <div class="pl-3">
    <a class="navbar-brand" href="#">
      <img [src]=basketballImage width="30" height="30" class="d-inline-block align-top" alt="Basketball ball">
      I'm in!
    </a>
  </div>

  <div class="mr-5 pr-5">
    <button class="btn btn-danger text-white badge-pill mr-2" id="logOutButton" (click)="logOut()" hidden>Log
      out</button>
    <div id="welcomeBack"></div><span id="usernameWelcome"></span>
    <button class="btn btn-success text-white badge-pill mr-2" id="imNewButton" (click)="createNewUser()">I'm
      new!</button>
    <button class="btn btn-info text-white badge-pill mr-2" id="logInButton" (click)="logIn()">Log in</button>
  </div>
</nav>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>