.mat-progress-spinner{
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  #usernameWelcome{
    font-weight: bold;
    font-size: 15px;
  }

  .btn {
    font-size: 15px;
    width:100%;
    size: 80%;
  }

 .verticallyAlign{
  margin: auto;
  width: 50%;
  }