<div class="col-10">
    <!-- <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Ignacio">
    </div>
    <div class="form-group">
        <label for="inputSurname">Surname</label>
        <input type="text" class="form-control" id="inputSurname" aria-describedby="surnameHelp" placeholder="Pancaldo">
    </div> -->
    <div class="form-group">
        <label for="inputUserName">Username</label>
        <input type="text" class="form-control" formControlName="username" id="inputUserName"
            aria-describedby="surnameHelp" placeholder="ipandolfo">
    </div>
    <!-- <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div> -->
    <button type="submit" class="btn btn-primary" (click)="submitNewUser()">Submit</button>
    <button type="button" class="btn btn-outline-primary float-center ml-3">Back</button>
</div>